* {
  margin: 0;
  padding: 0;
  line-height: normal;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

#header {
  height: 64px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

#body {
  height: 100vh;
  /* 윈도우를 기준으로 측정하는 높이단위 */
  width: 1024px;
  margin: 0 auto; /* 가운데 정렬됨. */
}

#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}

#header-area {
  width: 1024px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-area img {
  width: 128px;
  height: 36px;
}
